<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="postHead">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, inital-scale=1.0" />
    <title th:text="${headTitle}"></title>
    <!-- css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/plugins.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/post.css}">
    <!-- js -->
    <script th:src="@{/js/exhibition/createPost.js}"></script>
    <script th:src="@{/js/ckeditor5/ckeditor.js}" ></script>
</head>
</html>