<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">'

<section th:fragment="reviewTabs">
        <section class=wrapper bg-light>
            <div class="container py-14 py-md-16">
                <ul class="nav nav-tabs nav-tabs-basic mt-12" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" data-bs-toggle="tab" href="#tab1-1" aria-selected="true"
                           role="tab">Details</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab1-2" aria-selected="false" role="tab"
                           tabindex="-1">Info</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab1-3" aria-selected="false" role="tab"
                           tabindex="-1">Review</a>
                    </li>
                </ul>
                <!-- /.nav-tabs -->
                <div class="tab-content mt-0 mt-md-5">
                    <div class="tab-pane fade active show" id="tab1-1" role="tabpanel">
                        <p>전시 상세 정보</p>
                    </div>
                    <!--/.tab-pane -->
                    <div class="tab-pane fade" id="tab1-2" role="tabpanel">
                        <p>기타 정보</p>
                    </div>
                    <!--/.tab-pane -->
                    <div class="tab-pane fade" id="tab1-3" role="tabpanel">
                        <section th:replace="~{fragments/review/review::review}"></section>
                    </div>
                    <!--/.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
        </section>
</section>

</html>