<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/post-layout}">
<div layout:fragment="postContent">
    <section class="wrapper bg-soft-primary">
        <div class="container pt-10 pb-19 pt-md-14 pb-md-20 text-center">
            <h1 class="display-1 mb-4" >전시회 포스트 등록</h1>
        </div>
    </section>
    <section class="wrapper bg-light">
        <div class="container pb-14 pb-md-16">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="blog single mt-n17">
                        <div class="card">
                            <figure class="card-img-top"><img src="./assets/img/photos/b1.jpg" alt=""/></figure>
                            <div class="card-body">
                                <form action="create-post" method="POST">
                                    <div class="classic-view">
                                        <article class="post">
                                            <div class="post-content mb-5">
                                                <!-- 제목 넣기 -->
                                                <div class="form-floating mb-4">
                                                    <span>제목</  span>
                                                    <input id="title" type="text" class="form-control">
                                                </div>
                                                <!-- 전시장 고르기 -->
                                                <div class="form-select-wrapper mb-4">
                                                    <label for="exhibition_id" class="form-label">전시장:</label>
                                                    <select class="form-select add-control-inline" name="exhibition_id" id="exhibition_id">
                                                        <option th:each="exhibition : ${exhibitions}"
                                                                th:value="${exhibition.id}">
                                                            <span th:text="${exhibition.name}"></span>
                                                        </option>
                                                    </select>
                                                </div>
                                                <!-- 날짜 고르기 -->
                                                <div class="form-select-wrapper mb-4">
                                                    <label for="start_date">시작일:</label>
                                                    <input type="date" class="form-control add-control-inline" name="start_date" id="start_date">
                                                    <label for="end_date">종료일:</label>
                                                    <input type="date" class="form-control add-control-inline" name="end_date" id="end_date">
                                                    <label for="start_ime">시작시간:</label>
                                                    <input type="time" class="form-control add-control-inline" id="start_ime">
                                                    <label for="end_time">종료시간:</label>
                                                    <input type="time" class="form-control add-control-inline" id="end_time">
                                                </div>
                                                <div class="form-select-wrapper mb-4">
                                                    <label for="age_restriction">관람연령:</label>
                                                    <input type="number" class="form-control add-control-inline" name="age_restriction" id="age_restriction">
                                                    <label for="price">정가:</label>
                                                    <input type="number" class="form-control add-control-inline" name="price" id="price">
                                                </div>
                                                <!-- 예약 사이트 등록하기 -->
                                                <div class="form-select-wrapper mb-4">
                                                    <input type="hidden" id="bookingSites" th:value="${bookingSites}">
                                                    <label for="is_eligibility">예매 가능 여부:</label>
                                                    <input type="radio" class="form-check-input" name="is_eligibility" id="is_eligibility_yes" value="1">
                                                    <label for="is_eligibility_yes">예</label>
                                                    <input type="radio" class="form-check-input" name="is_eligibility" id="is_eligibility_no" value="0">
                                                    <label for="is_eligibility_no">아니오</label>
                                                    <div id="eligibility_info" style="display: none;">
                                                        <label for="eligibility_date">티켓 오픈일, 예매 시작일:</label>
                                                        <input type="date" class="form-control add-control-inline" name="eligibility_date" id="eligibility_date">
                                                        <div id="reservation-sites-container">
                                                            <div class="reservation-site-row">
                                                                <select name="reservation_site" class="form-select add-control-inline reservation-site">
                                                                    <option th:each="site : ${bookingSites}" th:value="${site.id}"
                                                                            th:text="${site.name}"></option>
                                                                </select>
                                                                <input type="url" name="reservation_url" class="form-control add-control-inline reservation-url">
                                                                <a href="#" class="btn btn-circle btn-outline-primary btn-sm add-button"><i class="uil uil-plus"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- 요약 -->
                                                <div class="form-select-wrapper mb-4">
                                                    <label for="summary">요약</label>
                                                    <textarea name="summary" class="form-control" placeholder="전시회의 요약정보를 적어주세요" id="summary" required></textarea>
                                                </div>
                                                <!-- URL -->
                                                <div class="form-select-wrapper mb-4">
                                                    <label for="orign_url">전시 소개 URL:</label>
                                                    <input type="url" class="form-control add-control-inline" name="orign_url" id="orign_url">
                                                </div>
                                                <div class="form-floating mb-4">
                                                    <span>전시 상세 설명 : </span>
                                                    <textarea class="form-control" placeholder="전시회의 상세정보를 적어주세요" name="description" id="editor"></textarea>
                                                </div>
                                            </div>
                                            <!-- /.post-content -->
                                            <hr/>
                                            여기에 태그 넣는 걸 넣자
                                            <!-- /.post-footer -->
                                        </article>
                                        <!-- /.post -->
                                    </div>
                                    <!-- /.classic-view -->


                                    <hr/>
                                    <div class="form-floating mb-4 text-center" >
                                        <button type="submit" class="btn btn-outline-primary">수정</button>
                                        <button type="submit"  class="btn btn-blue">저장</button>
                                        <button type="submit"  class="btn btn-red">삭제</button>
                                    </div>
                                </form>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.blog -->
                </div>
                <!-- /column -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /section -->
</div>
</html>